extends layout

block content
    // About-us
    section.about_us.section-padding(style='padding-top: 1%')
        .container
            ul.coustom-breadcrumb
                li
                    a(href='/', style='color: #1e96fe') Home
                li
                    a(style='color: #1e96fe') >
                li(style='color: #1e96fe') About Us
            .section-header.text-center
                h2(style='color: #2e6da4') Blue World Auto
                p(style='text-align: justify')
                    | Blue World Auto is the product of more than 20 years of combined experience between the two
                    | companys, Balla Group and Muhanad Cars. It is essential for a company to be founded on certain
                    | values, that’s why the founders of Blue World Auto began aligning values like integrity,
                    | honesty, and professionalism with the company's branding strategy, creating a seamless and
                    | headache-free experience for our customers. We believe that a flexible and skilled team coupled
                    | with clear and integrated values creates a strong foundational core for Blue World Auto.
                p(style='text-align: justify')
                    | Blue World Auto is willing to distribute vehicles in Kurdistan and Iraq, due to our experience
                    | and professional staff, we will be your most effective partner in Delivering your products and
                    | services to the customers in Iraq.
    section.why_choose_us.section-padding.gray-bg
        .container
            .section-header.text-center.gray-bg
                h2 Balla Group
                h2.text-left(style='font-size:150%') History :
                p(style='text-align: justify')
                    | Was established by several of professional business experts and highly qualified engineers.
                    | Balla has grown over the years, into a major conglomerate with entities in different industry
                    | sectors. All of these companies work together for the rebuilding, restructuring and betterment
                    | of Iraq based in Sulaimaniyah.
                p(style='text-align: justify')
                    | BALLA is an all-round contracting company providing solution for a variety projects and are
                    | capable of delivering international standard services and products to all level of consumers,
                    | home, business and government Sector. Balla handles projects of all sizes, either on its own
                    | or by forming project groups with selecting associates.
                br
                h2.text-left(style='font-size:150%') Visions :
                p(style='text-align: justify')
                    | Our vision is to reach maximum in offer the high quality Service and Solution to consumers.
                    | Reconstruct Iraq country in a very high speed in to a modernize country Mission.
                br
                h2.text-left(style='font-size:150%') Mission :
                p(style='text-align: justify')
                    | is to provide a high quality, cost effective and to modernize customer’s life by offer the new
                    | design, modern construction, and development services and Import high quality material.
    section.why_choose_us.section-padding
        .container
            .section-header.text-center
                h2 Muhannad Cars
                h2.text-left(style='font-size:150%') History :
                p(style='text-align: justify')
                    | Muhanad Cars Company was established in 1999 and is the first company (in trading cars) to
                    | import cars in Iraqi Kurdistan in Erbil governorate. Now operating in the market with great
                    | skills and efficiency, controlling the import of saloon (passenger)cars, SUVs, armored vehicles,
                    | buses, freezers and ambulance. Moreover, our company relies on selffinancing sources
                    | and provides after sales services whether it is deals or retail Having more than twenty years
                    | of rich experience in automotive and marketing, the brand name has become one of the best
                    | known names in the automotive market, not only in the local Iraqi market but also throughout
                    | the Middle East and the Arabian Gulf region.
                br
                h2.text-left(style='font-size:150%') Visions :
                p(style='text-align: justify')
                    | Muhanad Cars Group aims to meet the needs of the local Iraqi market in general and the Kurdistan
                    | region in particular.
                    | Provide a variety of vehicles and cars, where demand is concentrated mainly in the center, the
                    | southern and northern regions of Iraq.
                br
                h2.text-left(style='font-size:150%') Mission :
                p(style='text-align: justify') To remain at the forefront of the market.
                p(style='text-align: justify')  • Obtaining exclusive contracts with international trade agencies.
                p(style='text-align: justify')
                    | • Providing quality services, excellent and after sales services, an effective presence in the
                    | market, loyalty programs and paying more attention to customer satisfaction.
    section.why_choose_us.section-padding.gray-bg
        .container
            .section-header.text-center
                h2 Branches
            .row
                .col-md-6.col-sm-6
                    .listing_box
                        br
                        h5
                            i.fa.fa-globe(aria-hidden='true')
                            |  Asia
                        p Iraq – 4, UAE – 6 GNN Motor, Offshore Beirut - 1
                    .listing_box
                        h5
                            i.fa.fa-globe(aria-hidden='true')
                            |  Europe
                        p Belgium
                    .listing_box
                        h5
                            i.fa.fa-globe(aria-hidden='true')
                            |  Africa
                        p Tunisia – 1
                .col-md-6.col-sm-6
                    .video_box
                        img.img-responsive(src='/images/branches.PNG')
    section.why_choose_us.section-padding
        .container
            .section-header.text-center
                h2 Showrooms and Warehouses
            .row
                .col-md-6.col-sm-6
                    .listing_box
                        br
                        br
                        br
                        br
                        br
                        br
                        h5
                            i.fa.fa-home(aria-hidden='true')
                            |   Showrooms
                        p • 2 in Duhok • 2 in Erbil • 2 in Slemani • 1 Baghdad
                        p  Workshops 
                        p
                            | • Erbil: a garage on an area of 2500 m2 is under construction and will be open soon
                        p • Duhok: A hall is ready to operate on an area of 1000 m2
                        br
                        h5
                            i.fa.fa-home(aria-hidden='true')
                            |   Warehouses
                        p • 30 stores with borrowed roofs on an area of 21000 m2
                        p • Land without roof with an area of 25000 m2
                .col-md-6.col-sm-6
                    .video_box
                        img.img-responsive(src='/images/warehouse.PNG', style='width: 100%')
    section.why_choose_us.section-padding.gray-bg
        .container
            .section-header.text-center
                h2 Inside Iraq Turnover
            .row
                .col-md-12
                    .img-thumbnail
                        img.img-responsive(src='/images/turnover.PNG', style='width: 100%')
        br
        br
        br
        .container
            .section-header.text-center
                h2 Offshore office Beirut
            .row
                .col-md-12
                    .img-thumbnail
                        img.img-responsive(src='/images/offshore.png', style='width: 100%')
            br
            br
            br
            .container
                .section-header.text-center
                    h2 GNN Motors UAE Turnover
                .row
                    .col-md-12
                        .img-thumbnail
                            img.img-responsive(src='/images/gnn.png', style='width: 100%')
                br
                br
                br
                .container
                    .section-header.text-center
                        h2 Total Turnover
                    .row
                        .col-md-12
                            .img-thumbnail
                                img.img-responsive(src='/images/total.png', style='width: 100%')
    section.why_choose_us.section-padding
        .container
            .section-header.text-center
                h2 Trade World Wide
            .row
                .col-md-6.col-sm-6
                    .listing_box
                        br
                        h5
                            i.fa.fa-globe(aria-hidden='true')
                            |   China - 40%
                        h5
                            i.fa.fa-globe(aria-hidden='true')
                            |   UAE - 30%
                        h5
                            i.fa.fa-globe(aria-hidden='true')
                            |   Africa - 15%
                        h5
                            i.fa.fa-globe(aria-hidden='true')
                            |   Others - 15%
                .col-md-6.col-sm-6
                    .video_box
                        img.img-responsive(src='/images/percent.png', style='width: 100%')
    // /Why-Choose-Us
    // Contact-us
    section.contact_us.section-padding.gray-bg
        .container
            .row
                .col-md-6
                    h3 Get in touch using the form below
                    .contact_form.gray-bg
                        form(action='#', method='get')
                            .form-group
                                label.control-label
                                    | Full Name 
                                    span *
                                input#fullname.form-control.white_bg(type='text')
                            .form-group
                                label.control-label
                                    | Email Address 
                                    span *
                                input#emailaddress.form-control.white_bg(type='email')
                            .form-group
                                label.control-label
                                    | Phone Number 
                                    span *
                                input#phonenumber.form-control.white_bg(type='text')
                            .form-group
                                label.control-label
                                    | Message 
                                    span *
                                textarea.form-control.white_bg(rows='4')
                            .form-group
                                button.btn(type='submit')
                                    | Send Message 
                                    span.angle_arrow
                                        i.fa.fa-angle-right(aria-hidden='true')
                .col-md-6
                    h3 Contact Info
                    .contact_detail
                        ul
                            li
                                .icon_wrap
                                    i.fa.fa-map-marker(aria-hidden='true')
                                .contact_info_m
                                    | Balla Building, Malikmahmud St.126
                                    | Slemani- Iraq
                            li
                                .icon_wrap
                                    i.fa.fa-phone(aria-hidden='true')
                                .contact_info_m
                                    a
                                        | +964 750 111 9296 
                                        br
                                        |                               +964 770 152 7381
                            li
                                .icon_wrap
                                    i.fa.fa-envelope-o(aria-hidden='true')
                                .contact_info_m
                                    a(href='mailto:#') info@bwa.com.iq
                        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6489.713035469321!2d45.41141882419849!3d35.58193312087002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc930a53eea3469bd!2sBalla+Group!5e0!3m2!1sen!2siq!4v1539723835757', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='')
    // /Contact-us
