extends layout

block content  
	section.user_profile.inner_pages
		.container
			form(action='/auth/forgot', method='post')
				.form-group
					label.control-label Email
					input.form-control.white_bg(type='text',name="email",placeholder="Email",required="required")
				.form-group
					button.btn(style='width: 40%;', type='submit')
						| Send Reset password Link 
