extends layout

block content  
    
	// Navigation end
	// /Header
	// Page Header
	section.page-header.profile_page
		.container
			.page-header_wrap
				.page-heading
					h1 Edit Your Vehicle
				ul.coustom-breadcrumb
					li
						a(href='/') Home
					li edit Your Vehicle
		// Dark Overlay
		.dark-overlay
	// /Page Header
	// Post-vehicle
	section.user_profile.inner_pages
		.container
			.user_profile_info.gray-bg.padding_4x4_40
				//- .upload_user_logo
				//- 	img(src='/images/222x172.jpg', alt='image')
				//- 	.upload_newlogo
				//- 		input(name='upload', type='file')
				//- .dealer_info
				//- 	h5 Muhannad Group
				//- 	p Iraq - Sulaymaniyah
			.row
				.col-md-3.col-sm-3
					.profile_nav
						ul
							li
								a(href='profile-settings.html') Profile Settings
							li
								a(href='my-vehicles.html') My Vehicles
							li
								a(href='my-car-parts.html') My Vehicle Parts
							li.active
								a(href='post-vehicle.html') Post a Vehicles
							li
								a(href='post-car-parts.html') Post a Vehicle Part
							li
								a(href='#') Sign Out
				.col-md-6.col-sm-8
					.profile_wrap
						h5.uppercase.underline Edit Car Part
						form(action='/parts/edit/'+car._id, method='post')
							.form-group
								label.control-label Name
								input#Price.form-control.white_bg(type='text',name='name',value=car.name)
							.form-group
								label.control-label Make
								.select
									select#makes.form-control.white_bg(name='make',required="")
										option(value="") Select Brand
							.form-group
								label.control-label Model
								.select
									select#models.form-control.white_bg(name="model",required="")
										option(value="") Select Model
							.form-group
								label.control-label Model Year
								.select
									select#year.form-control.white_bg(name="year",required="")
										option(value="") Select Year
							.form-group
								label.control-label City
								.select
									select.form-control.white_bg(name="location",required="")
										if car.location == "Hawler"
											option(value='Hawler',selected="") Hawler
										else
											option(value='Hawler') Hawler
										if car.location == "Slemany"
											option(value='Slemany',selected="") Slemany
										else
											option(value='Slemany') Slemany
										if car.location == "Duhok"
											option(value='Duhok',selected="") Duhok
										else
											option(value='Duhok') Duhok
										if car.location == "Halabja"
											option(value='Halabja',selected="") Halabja
										else
											option(value='Halabja') Halabja
										if car.location == "Kirkuk"
											option(value='Kirkuk',selected="") Kirkuk
										else
											option(value='Kirkuk') Kirkuk
										if car.location == "Baghdad"
											option(value='Baghdad',selected="") Baghdad
										else
											option(value='Baghdad') Baghdad
										if car.location == "Mosul"
											option(value='Mosul',selected="") Mosul
										else
											option(value='Mosul') Mosul
										if car.location == "Basra"
											option(value='Basra',selected="") Basra
										else
											option(value='Basra') Basra
										if car.location == "Salah Al Din"
											option(value='Salah Al Din',selected="") Salah Al Din
										else
											option(value='Salah Al Din') Salah Al Din
										if car.location == "Diyala"
											option(value='Diyala',selected="") Diyala
										else
											option(value='Diyala') Diyala
										if car.location == "Wasit"
											option(value='Wasit',selected="") Wasit
										else
											option(value='Wasit') Wasit
										if car.location == "Maysan"
											option(value='Maysan',selected="") Maysan
										else
											option(value='Maysan') Maysan
										if car.location == "Dhi Qar"
											option(value='Dhi Qar',selected="") Dhi Qar
										else
											option(value='Dhi Qar') Dhi Qar
										if car.location == "Al Muthana"
											option(value='Al Muthana',selected="") Al Muthana
										else
											option(value='Al Muthana') Al Muthana
										if car.location == "Al-Qadisiyah"
											option(value='Al-Qadisiyah',selected="") Al-Qadisiyah
										else
											option(value='Al-Qadisiyah') Al-Qadisiyah
										if car.location == "Babil"
											option(value='Babil',selected="") Babil
										else
											option(value='Babil') Babil
										if car.location == "Karbala"
											option(value='Karbala',selected="") Karbala
										else
											option(value='Karbala') Karbala
										if car.location == "Najaf"
											option(value='Najaf',selected="") Najaf
										else
											option(value='Najaf') Najaf
										if car.location == "Al Anbar"
											option(value='Al Anbar',selected="") Al Anbar
										else
											option(value='Al Anbar') Al Anbar
										

							.form-group
								label.control-label Description
								textarea.form-control.white_bg(rows='4',name="description")=car.description
							.form-group
								label.control-label Price ($)
								input#Price.form-control.white_bg(type='number',name='price',value=car.price)
							
							.form-group
								button.btn(style='width: 100%;', type='submit')
									| Save
									span.angle_arrow
										i.fa.fa-angle-right(aria-hidden='true')
	script(src='/js/jquery.min.js')
	script(src='/js/ajax/car.js')