extends layout

block content
    .user_profile_info.gray-bg.padding_4x4_40
        .upload_user_logo
            img(src='/uploads/avatars/'+profile.avatar, alt='image')
        br
        form(action='/profile/changelogo', method='post', enctype='multipart/form-data')
            .form-group
                input(name='avatar', type='file',accept="image/*")
            .form-group
                button.btn(type='submit')
                    | #{translation.SAVE}